.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    text-align: center;
    background-color: #191C33;
    color: #fff;
  }
  
  .footer-content h2{
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
  }
  
  .social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .social-network i {
    font-size: 1.5em;
  }
  
  .social-network a {
    color: #fff;
  }